
<!DOCTYPE html>
<html>
  <head>
    <title>SBF Display Scanner</title>
    <script type="text/javascript" src="/sbf/registration/instascan.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/sbf/registration/registration.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="top-matter">
        <div class="img-wrapper">
          <img src="/sbf/registration/SBF_logo.png"></img>
          <img src="/sbf/registration/SBFF_logo.png"></img>
        </div>
        <p>Official Opening of SBF and SBFF Foundation Offices</p>
        <hr></hr>
      </div>

      <div class="left-column">
        <div class="header">
          <div id="video-wrapper">
            <video width="300" id="preview"></video>
          </div>
        </div>
      </div>

      <div class="right-column" id="right-column">
        <div id="greeting">
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function reset() {
        document.getElementById("greeting").style.visibility = "hidden";
        document.getElementById('right-column').style.display = "none";
      }
      function set_page() {
        var greeting = "Thank you, your cube is now illuminated in white";
        document.getElementById("greeting").innerHTML = greeting;
        document.getElementById("greeting").style.visibility = "visible";
        document.getElementById('right-column').style.display = "inline";
      }
      function fetch_and_set(code) {
        console.log(code);
        var xmlHttp = new XMLHttpRequest();
        var url = "/flask/sbf/display-scan/"+code
        xmlHttp.onreadystatechange = function() {
              if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                  {set_page();
                  var timeoutID = window.setTimeout(reset, 5000);};
        }
        xmlHttp.open("GET", url, true);
        xmlHttp.send(null);
      }
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
      scanner.addListener('scan', function (content) {
        fetch_and_set(content);
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
      reset();
    </script>
  </body>
</html>
