<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Part Search</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <!--<link rel="stylesheet" href="/css/search.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      max-width: 850px;
      color: #000;
      background-color: #DDD;
    }

    .title {
      background-color: #AAA;
    }
  </style>
</head>
<body class="content">
  <div id="content" class="container">
    {% for c in content%}
    <div class="item">
        <div class="title" id="{{ c.id }}-title">> <a href="#" title="hide/show" onclick="toggle({{ c.id }}; return false;)">{{ c.id }}</a> {{ c.title | safe }}</div>
        <div class="content" id="{{ c.id }}" style="display:none;">
            {{ c.content | safe }}
        </div>
    </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
  function toggle(id) {
    el = document.getElementById(id)
    el.style.display = el.style.display == "none" ? "block" : "none";
    return false;
  };
  </script>
</body>
</html>