<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Zettelkasten</title>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <!--<link rel="stylesheet" href="/css/search.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 40px auto;
      max-width: 800px;
      line-height: 1.2;
      font-size: 14px;
      color: #444;
      background-color: #FFF;
      padding: 0 10px;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
    }

    h1,h2,h3 {
        line-height:1.1;
    }

    .title {
      background-color: #CCC;
    }
  </style>
</head>
<body class="content">
  <div id="content" class="container">
    {% for c in content%}
    <div class="item">
        <div class="title" id="{{ c.id }}-title"><h3><a href="#" title="hide/show" onclick="toggle({{ c.id }}); return false;">> {{ c.id }}</a> {{ c.title | safe }}</h3></div>
        <div class="content" id="{{ c.id }}" style="display:none;">
            {{ c.content | safe }}
        </div>
    </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
  function toggle(id) {
    el = document.getElementById(id)
    el.style.display = el.style.display == "none" ? "block" : "none";
    return false;
  };
  </script>
</body>
</html>